@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins';
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
  background: black;
}

::-webkit-scrollbar-thumb {
  background: rebeccapurple;
}

header {
  width: 100%;
  padding: 20px 150px;
  background: black;
  position: fixed;
  z-index: 1;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu .logo a {
  color: white;
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing: 2px;
}

.menu .logo a:hover {
  color: rebeccapurple;
}

.menu ul {
  position: relative;
  display: flex;
  align-items: center;
}

.menu ul li {
  position: relative;
  margin-left: 25px;
}

.menu ul li a {
  color: white;
  text-transform: capitalize;
}

.menu ul li a:hover {
  color: rebeccapurple;
}

section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
  padding-top: 80px;
}

.btn {
  display: none;
}

@media(max-width: 900px) {
  header {
    padding: 15px 10px;
  }

  .menu .logo a {
    font-size: 1.5rem;
  }

  .menu ul {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 280px;
    min-height: 100vh;
    background: black;
    flex-direction: column;
    align-items: self-start;
    padding-top: 20px;
    overflow: hidden;
    transition: .5s;
  }

  .menu ul li {
    padding-bottom: 25px;
  }

  .side.show {
    width: 280px;
  }

  .side.hide {
    width: 0px;
  }

  .btn {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .btn::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 2px;
    background: white;
    transform: translateY(-6px);
    box-shadow: 0 6px 0 white;
    transition: .3s;
  }

  .btn::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 2px;
    background: white;
    box-shadow: 0 6px 0 white;
    transition: .3s;
  }

  .btn.active::before {
    transform: translateY(0px) rotate(-45deg);
    box-shadow: 0 0 0 white;
  }

  .btn.active::after {
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 0 white;
  }
}